/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.gu-tut-main-content .modal {
    z-index: 99999999 !important;
}
.gutut.gu-tut-main-content .top-subject{
    display: none;
}
select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    text-indent: 1px !important;
    text-overflow: '' !important;
}

.tutor-info {
    min-height: 300px !important;
}

.star-color {
    color: orange !important;
    font-size: 16px !important;
}

.left-tutor-info {
    text-align: center !important;
}

.step-2 .tutor-info table {
    font-size: 12px !important;
}

.available-hour {
    background-color: #5D9BF2 !important;
}

.selected-hour {
    background-color: #0061E0 !important;
}

.unavailable-hour {
    background-color: #CFD6DC !important;
}

.step-2 .tutor-info table th,
.step-2 .tutor-info table td {
    padding: 0 !important;
    text-align: center !important;
    border-radius: 5px !important;
    border:2px solid white !important;
    color:  #8A8E91  !important;
}
.day_in_month{
    font-size: 18px !important;
    color: #5A6169 !important;
    font-weight: 700 !important;
}
.day_of_week{
    font-size: 10px !important;
}
td.today .day_in_month, td.today .day_of_week{
    color: #D92A55 !important;
}
.step-2 .tutor-info table td.width-10{
    font-size: 10px !important;
    white-space: nowrap !important;
}
.width-10 {
    width: 10% !important;
}

.reduce-height td {
    line-height: 1.3 !important;
}

.review-tutor {
    border: 2px solid #becad6 !important;
    padding: 10px !important;
    border-radius: 25px !important;
}

.student-name-bold {
    font-weight: bold !important;
}

.course-name-grey {
    font-size: 14px !important;
    color: grey !important;
}


/* Important part */

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 500px !important;
    overflow-y: auto !important;
}


/*Multisteps form*/

.header__btn {
    transition-property: all !important;
    transition-duration: 0.2s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    padding: 10px 20px !important;
    display: inline-block !important;
    margin-right: 10px !important;
    background-color: #fff !important;
    border: 1px solid #2c2c2c !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    outline: none !important;
}

.header__btn:last-child {
    margin-right: 0 !important;
}

.header__btn:hover,
.header__btn.js-active {
    color: #fff !important;
    background-color: #2c2c2c !important;
}

.header {
    max-width: 600px !important;
    margin: 50px auto !important;
    text-align: center !important;
}

.header__title {
    margin-bottom: 30px !important;
    font-size: 2.1rem !important;
}

.content {
    width: 95% !important;
    margin: 0 auto 50px !important;
}

.content__title {
    margin-bottom: 40px !important;
    font-size: 20px !important;
    text-align: center !important;
}

.content__title--m-sm {
    margin-bottom: 10px !important;
}

.multisteps-form__progress {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
}

.multisteps-form__progress-btn {
    transition-property: all !important;
    transition-duration: 0.15s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    position: relative !important;
    padding-top: 20px !important;
    color: rgba(108, 117, 125, 0.7) !important;
    text-indent: -9999px !important;
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    cursor: pointer !important;
}

@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0 !important;
    }
}

.multisteps-form__progress-btn:before {
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    display: block !important;
    width: 13px !important;
    height: 13px !important;
    content: '' !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s !important;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s !important;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s !important;
    border: 2px solid currentColor !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    box-sizing: border-box !important;
    z-index: 3 !important;
}

.multisteps-form__progress-btn:after {
    position: absolute !important;
    top: 5px !important;
    left: calc(-50% - 13px / 2) !important;
    transition-property: all !important;
    transition-duration: 0.15s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    display: block !important;
    width: 100% !important;
    height: 2px !important;
    content: '' !important;
    background-color: currentColor !important;
    z-index: 1 !important;
}

.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: #007bff !important;
    background-color: unset !important;
}

.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2) !important;
    transform: translateX(-50%) scale(1.2) !important;
    background-color: white !important;
}

.multisteps-form__form {
    position: relative !important;
}

.multisteps-form__panel {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 0 !important;
    opacity: 0 !important;
    visibility: hidden;
}

.multisteps-form__panel.js-active {
    height: auto !important;
    opacity: 1 !important;
    visibility: visible;
}

.multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
}

.multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all !important;
    transition-duration: 0.2s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

.multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px !important;
}

.multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all !important;
    transition-duration: 0.25s !important;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43) !important;
    transition-delay: 0s !important;
    left: 0 !important;
}

.multisteps-form__panel[data-animation="slideVert"] {
    top: 30px !important;
}

.multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all !important;
    transition-duration: 0.2s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    top: 0 !important;
}

.multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all !important;
    transition-duration: 0.3s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
}

.multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9) !important;
    transform: scale(0.9) !important;
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all !important;
    transition-duration: 0.2s !important;
    transition-timing-function: linear !important;
    transition-delay: 0s !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}
.titleBox{
    bottom: 10px !important;
    right: 12px !important;
    background-color: white !important;
    box-shadow: 2px 2px 3px #888888 !important;
    border-radius: 10px !important;
    text-align: center !important;
    line-height: 20px
}
.top-subject-image{
    border-radius: 10px !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
}
.top-subject .number-teacher{
    font-size: 12px !important;
}
#carouselSubjects .carousel-indicators{
    bottom: -50px !important;
}
#carouselSubjects li.active{
    background-color: black !important;
}
#carouselSubjects .carousel-control-prev, #carouselSubjects .carousel-control-next {
    width: 30px !important;
}
.gutut .carousel-control-prev-icon{
    margin-right: 25% !important;
    filter: invert(1) !important;
}
.gutut .carousel-control-next-icon{
    margin-left: 32% !important;
    filter: invert(1) !important;
}


.btn-spark-green {
    background: linear-gradient(310deg, #23C4D9 0%, #29F25D 100%);
    color: #ffffff;
    border: none;
    text-shadow: 0px 1px black;
    font-size: large;
}


/* Start Custom Controls Style*/

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: 0;
}

.gutut .modal.fade.show {
    background-color: rgba(0, 0, 0, 0.3);
}



.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.gutut .tutor-view .custom-checkbox .custom-control-label,
.gutut .tutor-view .custom-radio .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.gutut .tutor-view .custom-checkbox .custom-control-label::before,
.gutut .tutor-view .custom-radio .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.gutut .tutor-view .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.gutut .tutor-view .custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
.gutut .tutor-view .custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.gutut .tutor-view .custom-checkbox .custom-control-label::after,
.gutut .tutor-view .custom-radio .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem !important;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
    transform: unset !important;
    border-right: unset;
    border-bottom: unset;
}

.gutut .tutor-view .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") !important; 
}

.gutut .tutor-view .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.gutut .tutor-view .custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.gutut .card a.btn-outline-primary:hover{
    color: white;
}
/* End Custom Controls Style*/
/* Start Wizard Step */
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-step a {
    padding: 6px 10px 4px 10px !important;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
/* End Wizard Step */

.premium-counter:not(.top) {
    justify-content: center;
}

.premium-counter.top {
    align-items: center;
}

.premium-counter-value-wrap {
    justify-content: center;
}

.premium-counter-title {
    text-align: center;
}

.premium-counter-area.spark-tutor-counter .premium-counter-icon .icon {
    font-size: 70px;
}


@media only screen and (max-width: 1199px) {
    .gutut .carousel-control-prev-icon{
        margin-right: 20% !important;
        margin-top: 20px !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: 25% !important;
        margin-top: 20px !important;
    }
}
@media only screen and (max-width: 991px) {
    .gutut .carousel-control-prev-icon{
        margin-right: -8% !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: -5% !important;
    }
}
@media only screen and (max-width: 768px) {
    .gutut .carousel-control-prev-icon{
        margin-right: 23% !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: 20% !important;
    }
}
@media only screen and (max-width: 767px) {
    .gutut .carousel-control-prev-icon{
        margin-right: 0% !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: 0% !important;
    }
}
@media only screen and (max-width: 599px) {
    .gutut .carousel-control-prev-icon{
        margin-right: 0% !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: 0% !important;
    }
}
@media only screen and (max-width: 500px) {
    .gutut .carousel-control-prev-icon{
        margin-right: -15% !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: -25% !important;
    }
}
@media only screen and (max-width: 414px) {
    .gutut .carousel-control-prev-icon{
        margin-top: 35px !important;
    }
    .gutut .carousel-control-next-icon{
        margin-top: 35px !important;
    }
}
@media only screen and (max-width: 385px) {
    .gutut .carousel-control-next-icon, .gutut .carousel-control-prev-icon{
        width: 10px !important;
        height: 10px !important;
    }
    .gutut .carousel-control-prev-icon{
        margin-right: -15% !important;
        margin-top: 50px !important;
    }
    .gutut .carousel-control-next-icon{
        margin-left: -25% !important;
        margin-top: 50px !important;
    }
}
#carouselSubjects .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#carouselSubjects .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#carouselSubjects .carousel-indicators li, #carouselSubjects .carousel-indicators li{
    width: 5px !important;
    height: 5px !important;
    border-radius: 100% !important;
    border: 1px solid black !important;
}
#carouselSubjects{
    background-color: #FEFEFE !important;
}
.top-subject{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.subject-container{
    min-height: 205px !important;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .top-subject{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.subject-container{
    min-height: 187px !important;
}
}
.tutored_hours{
    font-size: 12px !important;
    color: #686f7a !important;
}
.range_price{
    top: 0px !important;
    right: 0px !important;
    font-weight: bold !important;
    color: #006fe6 !important;
}
.mobile-text{
    display: none !important;
}
@media only screen and (max-width: 766px) {
    .desktop-text{
        display: none !important;
    }
    .mobile-text{
        display: unset !important;
    }
}
.gutut .course-info:hover{
    background-color: #F7F8FA !important;
}
.tooltip_templates{
    display: none;
}

.tooltipster-base h6, .tooltipster-base li, .tooltipster-content{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.625;
}
/*End mulltisteps form*/


/*Booking shortcode*/

.multisteps-form__panel {
    min-height: 400px !important;
}

.multi-step button:hover {
    background-color: unset !important;
    color: unset !important;
}

.gu-tut-main-content .modal-title {
    font-weight: bold !important;
}

.modal {
    text-align: center !important;
    padding: 0!important !important;
}

.modal:before {
    content: '' !important;
    display: inline-block !important;
    height: 100% !important;
    vertical-align: middle !important;
    margin-right: -4px !important;
}

.modal-dialog {
    display: inline-block !important;
    text-align: left !important;
    vertical-align: middle !important;
}

.selected-course {
    border-color: #00b8d8 !important;
}

.gu-tut-main-content table th,
.gu-tut-main-content table td {
    text-align: center !important;
}

.square {
    height: 12px !important;
    width: 12px !important;
    display: inline-block !important;
}

.timetable-note {
    font-size: 14px !important;
}

.course-detail {
    color: grey !important;
    font-size: 14px !important;
}

.price-number {
    font-size: 16px !important;
}

.gu-tut-main-content {
    font-family: 'Roboto', sans-serif !important;
}

.booking-confirm i.fa {
    display: inline-block !important;
    border-radius: 60px !important;
    box-shadow: 0px 0px 2px #888 !important;
    padding: 0.5em 0.6em !important;
    font-size: 60px !important;
    color: #17C671 !important;
    background-color: #f3eeee !important;
}

.gutut.gu-tut-main-content .btn {
    font-weight: bold !important;
}

.gutut.gu-tut-main-content .step-3 .card-text {
    font-size: 16px !important;
}

.gutut.gu-tut-main-content .step-3 .badge {
    font-size: 16px !important;
}

.gutut.gu-tut-main-content * {
    font-family: 'Roboto', sans-serif !important;
}

.gutut.gu-tut-main-content i,
.gutut.gu-tut-main-content .booking-confirm i {
    font-family: 'FontAwesome' !important;
}

.step-2 .card-text {
    font-size: 16px !important;
}

.gutut.gu-tut-main-content label {
    font-size: 16px !important;
    color: #5a6169 !important;
}

.gutut.gu-tut-main-content .step-5 label {
    cursor: default !important;
}

.gutut.gu-tut-main-content .booking-confirm * {
    font-family: 'Roboto', sans-serif !important;
}


/*End Booking shortcode*/


/*Extra Custom css*/

.gutut .modal.fade.show {
    background-color: rgba(0, 0, 0, 0.3) !important;
}


/*End Extra Custom css*/

/* start fullcalendar custom*/
button.fc-button.fc-button-primary{
    background: white !important;
    color: #007BFF !important;
    border: white
}
/*#availability{
    border: 1px #DDDDDD solid
}*/
div.fc-business.fc-bgevent{
    background: white
}
.fc-row.fc-week.fc-widget-content{
    display: none !important;
}
.fc-unthemed .fc-today {
  background: white !important !important;
}
.fc-row.fc-widget-header table{
    padding-bottom: 0px
}
#notification{
    display: none !important;
}
.fc table{
    margin-bottom: 0px !important;
}
td.fc-axis.fc-time.fc-widget-content{
    line-height: 0
}
tbody#availability.TimeSheet {
    font-size: unset !important;
    border: none !important;
}
tbody#availability.TimeSheet td{
    line-height: normal !important;
    width: 121px !important;
    border: 2px solid white !important;
}
#availability .today.day_in_month, #availability .today.day_of_week{
    color: #D92A55 !important;
}
#availability .day_in_month{
    font-size: 25px !important;
}
#availability .day_of_week{
    font-size: 15px !important;
}
#availability .TimeSheet-colHead, #availability .TimeSheet-rowHead   {
    background-color: white !important;
}
#availability td.TimeSheet-cell{
    background-color: #CFD6DC !important;
    border-radius: 10px !important;
}
#availability td.TimeSheet-cell.TimeSheet-cell-selected, #availability td.TimeSheet-cell.TimeSheet-cell-available-select.TimeSheet-cell-selected{
    background-color: #0061E0 !important;
}
.twbs .table td{
    border-bottom: none !important;
}
.calendar-title{
    font-size: 25px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
    color: #4A5456
}
#availability tr.TimeSheet-row td{
    line-height: 10px !important;
}
#availability .TimeSheet-rowHead {
    text-align: right !important;
}
@media (max-width: 990px) {
    .width-10{
        font-size: 18px !important;
    }
}
@media (max-width: 558px) {
    #table-availability td {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .width-10{
        font-size: 16px !important;
        word-break: keep-all !important;
    }
}
@media (max-width: 775px) {
    .width-10{
        font-size: 16px !important;
        word-break: keep-all !important;
    }
}
@media (max-width: 766px) {
    #availability .day_in_month{
        font-size: 14px !important !important;
    }
    #availability .day_of_week{
        font-size: 14px !important !important;
    }
    .width-10{
        font-size: 14px !important;
        word-break: keep-all !important;
    }
}
#availability td.TimeSheet-cell.TimeSheet-cell-available-select{
    background-color: #5D9BF2 !important;
}
#availability td.TimeSheet-cell.TimeSheet-cell-unavailable-select{
    background-color: #CFD6DC !important;
    pointer-events:none !important;
}
/* end fullcalendar custom */

/*Start loading icon*/
.fa-3x{
    text-align: center !important;
    display: none;
}
.loading {
  position: fixed !important;
  z-index: 999 !important;
  height: 2em !important;
  width: 2em !important;
  overflow: show !important;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* Transparent Overlay */
.loading:before {
  content: '' !important;
  display: block;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8)) !important;

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8)) !important;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}

.loading:not(:required):after {
  content: '' !important;
  display: block;
  font-size: 10px;
  width: 1em !important;
  height: 1em !important;
  margin-top: -0.5em !important;
  -webkit-animation: spinner 150ms infinite linear !important;
  -moz-animation: spinner 150ms infinite linear !important;
  -ms-animation: spinner 150ms infinite linear !important;
  -o-animation: spinner 150ms infinite linear !important;
  animation: spinner 150ms infinite linear !important;
  border-radius: 0.5em !important;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*End loading icon*/
#star-wrapper{
    cursor: pointer !important;
}
.card-body a{
    color: #0d6efd!important !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}
.parsley-type{
        margin: 5px 0px 0px -30px !important;
    font-size: 15px !important;
}
.modal-dialog.modal-lg {
    min-width: 300px !important;
}
@media (min-width: 992px){
    .modal-dialog.modal-lg {
        min-width: 800px !important;
    }
}
@media (min-width: 576px){
    .modal-dialog.modal-lg {
        min-width: 500px !important;
    }
}

.tutor-brief-intro{
    color: #686f7a !important;
    font-size: 16px !important;
}

.badge-subject{
    color: #fff !important;
    background-color: #D92A55 !important;
}

.badge-range-price{
    color: #fff !important;
    background-color: #007bff !important;
}

.course-description{
    color: #686f7a !important;
    font-size: 16px !important;
}

.gu-tut-main-content .total-minutes{
    color: #686f7a !important;
}

.total-rating{
    color: #686f7a !important;
    font-size: 14px !important;
}

.featured-subject{
    padding:10px !important;
}
.star-color{
    white-space: nowrap !important;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    /* For mobile phones: */
    .star-color{
    font-size: 14px !important;
    }
  }

.course-check-mark{
    color: #007bff !important;
}

.site-container button:disabled{
    background: unset !important;
}
.gutut .carousel-control-next.slick-arrow,.gutut .carousel-control-prev.slick-arrow {
    height: 62.5% !important;
}


.gu-container-v-margin {
    margin-top: 80px;
    margin-bottom: 80px;
}

