button.fc-button.fc-button-primary{
    background: white;
    color: #007BFF;
    border: white
}
div.fc-nonbusiness.fc-bgevent{
    background: white
}
.fc-row.fc-week.fc-widget-content{
    display: none;
}
.fc-unthemed .fc-today {
  background: white !important;
}
.fc-row.fc-widget-header table{
    padding-bottom: 0px
}
#notification{
    display: none;
}
.fc table{
    margin-bottom: 0px;
}
td.fc-axis.fc-time.fc-widget-content{
    line-height: 0
}