/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* Start Genaral Admin Style */

.gu-tut-main-content {
    padding: 10px;
}


/* End Genaral Admin Style */


/* Start Custom Controls Style*/

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: 0;
}

.gutut .modal.fade.show {
    background-color: rgba(0, 0, 0, 0.3);
}



.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.gutut .tutor-view .custom-checkbox .custom-control-label,
.gutut .tutor-view .custom-radio .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.gutut .tutor-view .custom-checkbox .custom-control-label::before,
.gutut .tutor-view .custom-radio .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.gutut .tutor-view .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.gutut .tutor-view .custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}
.gutut .tutor-view .custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.gutut .tutor-view .custom-checkbox .custom-control-label::after,
.gutut .tutor-view .custom-radio .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem !important;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
    transform: unset !important;
    border-right: unset;
    border-bottom: unset;
}

.gutut .tutor-view .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") !important; 
}

.gutut .tutor-view .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.gutut .tutor-view .custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.gutut .card a.btn-outline-primary:hover{
    color: white;
}
/* End Custom Controls Style*/


/* Start Dashboard */


/* End Dashboard */


/* Start Tutors */

.status-active {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.status-inactive {
    width: 10px;
    height: 10px;
    background-color: yellowgreen;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.avt {
    width: 100px;
    height: 100px;
}

.avt.tutor-photo {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.star-color {
    color: orange
}

.tutor-list .card {
    max-width: 100%;
}

.gutut .nav-link.active {
    border-color: #dee2e6 #dee2e6 #fff !important;
}

.tutor-list .name a {
    color: #212529;
}

.tutor-list .nav-link a {
    color: #007bff;
}

.tutor-list .row {
    color: #5a6169;
}

.gutut a:focus,
.gutut button:focus,
.gutut input:focus,
.gutut textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}

.tutor-view .card {
    max-width: 100%;
}

.tutor-view span.badge {
    font-size: 100%;
}

.review-rating {
    text-align: center;
}

.star-rating-modal {
    font-size: 40px;
}

.tutor-view .card {
    max-width: 100%;
}

.tutor-view button.dropdown-toggle {
    border-radius: 0;
}

.text-vertical-align {
    line-height: 41px;
    vertical-align: middle;
}

.booking-list .nav-link span.badge {
    font-size: 10px;
}

.note-italic {
    font-style: italic;
}

.tutor-view .row {
    color: #5a6169;
}

div#modal-time-off .modal-dialog,
div#modal-custom-time-off .modal-dialog {
    max-width: 60% !important;
}

.tutor-view select.custom-select {
    max-width: unset;
}

.receipt_stats {
    font-size: 25px;
    font-weight: bold;
}

.fc-button-group>.fc-button-primary,
.fc-toolbar>*> :not(:first-child) {
    align-items: flex-start;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    gap: normal;
    line-height: 15.75px;
    margin: 8px 0px 0px;
    padding: 12px 20px;
    text-align: center;
}

.fc-toolbar>*> :not(:first-child) {
    padding: 15px;
}
@media screen and (max-width: 414px){
    .fc-button-group>.fc-button-primary,
    .fc-toolbar>*> :not(:first-child) {

        padding: 3px 5px;
        font-size: 8px;
        margin-bottom: 10px;
    }
    .fc-toolbar.fc-header-toolbar{
        font-size: 8px;
    }
    .scrollable{
        overflow-x: scroll;
        overflow-y: hidden;"
    }
    .twbs .nav{
        flex-wrap: unset !important;
    }

}
@media screen and (max-width: 375px){
    .fc-button-group>.fc-button-primary,
    .fc-toolbar>*> :not(:first-child) {

        padding: 3px 5px;
        font-size: 7px;
        margin-bottom: 10px;
    }
    .fc-toolbar.fc-header-toolbar{
        font-size: 7px;
    }
    .scrollable{
        overflow-x: scroll;
        overflow-y: hidden;"
    }
    .twbs .nav{
        flex-wrap: unset !important;
    }
}
@media screen and (max-width: 360px){
    .fc-button-group>.fc-button-primary,
    .fc-toolbar>*> :not(:first-child) {

        padding: 1px 5px;
        font-size: 5px;
        margin-bottom: 10px;
    }
    .fc-toolbar.fc-header-toolbar{
        font-size: 5px;
    }
    .scrollable{
        overflow-x: scroll;
        overflow-y: hidden;"
    }
    .twbs .nav{
        flex-wrap: unset !important;
    }
}
.tutor-view .receipt_stats i {
    color: #006fe6;
}

.width-th-25 {
    width: 25%;
}

.width-th-20 {
    width: 20%;
}

.full-wdith {
    width: 100%;
}

.width-th-15 {
    width: 15%;
}

.tutor-view .paymethod-setting label {
    font-weight: bold;
}
.tutor-view .checkbox-label{
    line-height: 22px;
}
.tutor-view .general-setting label {
    font-weight: bold;
}

.width-th-10 {
    width: 10%;
}

.width-th-40 {
    width: 40%;
}

.width-th-50 {
    width: 50%;
}

.width-th-30 {
    width: 30%;
}

.bold-text {
    font-weight: bold;
    color: #007bff;
}

.modal label {
    font-weight: bold;
}
#notification{
    display: none;
    position: relative;
    border-radius: 10px;
    text-align: center;
}
.fc-time-grid-event .fc-time{
    font-size: unset !important;
}
.parsley-type{
    margin: 5px 0px 0px -30px;
    font-size: 15px;
}

/* End Tutors */


/* Start Dashboard*/

#bigDashboardChart {
    background: #1C69A7;
    max-height: 200px;
}

.card {
    max-width: unset !important;
}

.wrapper .card.revenue-snapshot {
    background-color: #1C69A7;
}

.gutut .table tr {
    border-bottom: 1px solid #dee2e6;
}

.gutut .content .table td {
    border-bottom: unset;
}

.card.card-chart,
.card.recent-booking {
    height: 260px;
}
.scroll {
    overflow-y: scroll;
}
.gutut .table .btn-outline-danger{
    color: #c4183c;
}
.gutut .table .btn-outline-danger:hover{
    color: #FFF;
}
.gutut .table .btn-outline-primary:hover{
    color: #FFF;
}
.spark-tutor-datatable {
    border-top: none !important;
}
/* End Dashboard*/


/* Start Booking*/

table.table.table-striped.list-booking td {
    cursor: pointer !important;
}

/*End Booking*/


/* Start Subject*/





/* End Subject*/

/* edit delete button in edit subject page */
.fix-child-item-middle .btn-delete {
    top: 50%;
    transform: translateY(-50%);
  }
#course_description, #course_detail{
    white-space: pre-line;
}
